# Miscellaneous
*.class
*.log
*.lock
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IDEs
.idea/
*.iml
*.ipr
*.iws
# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
**/doc/api/
lib/generated_plugin_registrant.dart

# Build artifacts
app.*.symbols
app.*.map.json

# iOS build artifacts
/ios/Pods/
/ios/.symlinks/
/ios/Flutter/App.framework
/ios/Flutter/engine.xcframework
/ios/Flutter/flutter_assets/
/ios/Flutter/.last_build_id
/ios/Runner/GeneratedPluginRegistrant.*

# Android build artifacts
/android/app/debug
/android/app/profile
/android/app/release

# Other platform build artifacts
/windows/flutter/generated_plugins.cmake
# Add other platform build folders if you are targeting macOS, Linux, or Web